<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>Upload</title>

        <!-- Google web fonts -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

        <!-- The main CSS file -->
        <link href="/static/css/file_upload.css" rel="stylesheet" />
    </head>

    <body>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/browser.html">Browse</a></li>
        <li><a href="/signout">signout</a></li>

      </ul>


        <form id="upload" method="post" enctype="multipart/form-data">
            <div id="drop">
                Drop Here
                <a>upload</a>
                <input type="file" name="upl" multiple />
            </div>

            <ul>
                <!-- The file uploads will be shown here -->
            </ul>

        </form>

        <!-- JavaScript Includes -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://audiolyticbucket.s3.ap-south-1.amazonaws.com/static/js/jquery.knob.js"></script>

        <!-- jQuery File Upload Dependencies -->
        <script src="https://audiolyticbucket.s3.ap-south-1.amazonaws.com/static/js/jquery.ui.widget.js"></script>
        <script src="https://audiolyticbucket.s3.ap-south-1.amazonaws.com/static/js/jquery.iframe-transport.js"></script>
        <script src="https://audiolyticbucket.s3.ap-south-1.amazonaws.com/static/js/jquery.fileupload.js"></script>

        <!-- Our main JS file -->
        <script src="https://audiolyticbucket.s3.ap-south-1.amazonaws.com/static/js/file_upload.js"></script>

    </body>
</html>
